section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px dashed var(--color-primary);
}


.overview-main {
    margin-top: 4rem;
    margin-bottom: 20rem;
}

.icon-frame {
    display: flex;
    justify-content: start;
}

.icon {
}

.input-container {
    width: 15rem;
}

.dropdown-container {
    width: 15rem;
}

.form-container {
    width: 50%;
}

.checkbox-container {
    display: flex;
}

.card-container {
    width: 15rem;
}

.lgc-graph-container {
    width: 35rem;
}
