.form__footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.25rem;
    margin-top: 1.25rem;
}

    .form__footer::before {
        content: "";
        position: absolute; /* ← takes it out of the flex flow */
        top: 0;
        right: 0;
        width: 35%;
        height: 4px;
        background-color: var(--color-breakline-faded);
        border-radius: 1rem; /* fully rounded ends */
    }

.form__footer__content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    gap: 0.75rem;
    width: 100%;
}

.form__error {
    color: var(--color-remove);
    font-style: italic;
}
