@namespace Pyre.Element.Card

@if (IsDataPoint)
{
    <div class="@ComputedClass" @attributes="AdditionalAttributes">
        <span class="card--content--data--point--text">@ChildContent</span>
    </div>
}
else
{
    <div class="@ComputedClass" @attributes="AdditionalAttributes">
        <span class="card--content--normal--text">@ChildContent</span>
    </div>
}

@code {
    // Base
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
    // Pyre Base
    [Parameter] public bool IsDataPoint { get; set; } = false;
    private string _isDataPoint => IsDataPoint.ToString().ToLower();
    // Element Specific
    // ================================================================================================================
    // Computed Classes & Styles
    public string ComputedClass =>
        $"card--content--data--point--{_isDataPoint}";

    public string ComputedStyle =>
    $"";
}