.card__content {
    padding: 1.5rem;
    width: 100%;
}

.card__content--default {
    /* just the base padding, nothing else */
}

.card__content--datapoint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
}

.card__content--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
