@page "/"
@using Pyre.Element.Button

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Button Variant="E_VARIANT.Primary" Color="E_COLOR_BASIC.Primary">
    cool button
</Button>
